/*Overlay css strat here*/
#overlay {
    background: #ffffff;
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 15%;
    opacity: .80;
}
.spinner {
    margin: 0 auto;
    height: 64px;
    width: 64px;
    animation: rotate 0.8s infinite linear;
    border: 5px solid rgba(86, 167, 0, 0.8);
    border-right-color: transparent;
    border-radius: 50%;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*Overlay css end here*/

/*Radio button css strat here*/
.product-details-section .description-block .wrapper{
    display: inline-flex;
    background: #fff;
    height: 40px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 5px 5px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}
.product-details-section .description-block .wrapper .option{
    background: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 5px;
    border: 2px solid #56a700;
    transition: all 0.3s ease;
}
.product-details-section .description-block .wrapper .option .dot{
    height: 15px;
    width: 15px;
    margin-right: 5px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
}
.product-details-section .description-block .wrapper .option .dot::before{
    position: absolute;
    content: "";
    top: 2px;
    left: 2px;
    width: 10px;
    height: 10px;
    background: #56a700;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
}
.product-details-section .description-block .wrapper input[type="radio"]{
    display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2,
#option-3:checked:checked ~ .option-3{
    border-color: #56a700;
    background: #56a700;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot,
#option-3:checked:checked ~ .option-3 .dot{
    background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before,
#option-3:checked:checked ~ .option-3 .dot::before{
    opacity: 1;
    transform: scale(1);
}
.product-details-section .description-block .wrapper .option .title{
    font-size: 16px;
    color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span,
#option-3:checked:checked ~ .option-3 span{
    color: #fff;
}
/*Radio button css end here*/

/*Category scroll css start here*/
.category-slider {
    display: none;
}
@media only screen and (max-width: 767px) {
    .category-block-section {
        display: none;
    }
    .category-slider {
        display: block;
    }
}
/*Category scroll css end here*/